.FormContainer {
  width: 40vw;
  padding: 1rem 2rem;
  background: #f5f8fb;

  h1 {
    width: 30rem;
    margin-bottom: 0.35rem;
    font-weight: 500;
  }

  h2 {
    margin-bottom: 2rem;
  }

  ol {
    color: #303047;
    font-weight: 300;
  }
}
