body {
  margin: 0;
  font-family: sofia-pro-soft, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #303047;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-weight: 300;
  color: #535363;
  font-size: 1.5rem;
}
